body {
    font-family: Arial;
    background: #f4f6f8;
    padding: 30px;
}
input{
    padding: 10px;
    margin: 5px;
    width: 300px;
    border-radius: 5px;
}
#search{
    border-radius: 10px;
    background-color: rgb(214, 212, 212);
    transition: 0.2s;
}
#search:hover{
    background-color: palevioletred;
    cursor: pointer;
}
.result {
    background: white;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
}
